@import "./reset.css";

html,
body {
  /* background: #ff0; */
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* https://developer.mozilla.org/ja/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */

header {
  /* background-color: #f00; */
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
}

main {
  background-color: #0f0;
  flex: 1 1 auto;
  padding: 1em;
}

footer {
  /* background-color: #00f; */
  flex: 0 0 auto;
}

.padding {
  flex-grow: 1;
}
